<div class="center hero-unit">
  <h1>Welcome to the Hotels App</h1>

  <h2>
    This is the home page for the
    hotels advisor application.
  </h2>

 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "google"), 'http://google.com/' %>