<% provide(:title, "Hotels") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>

      	<%= 
      		@hotels.each_with_index {|(key,value), i| puts "Pair #{i}: key #{key} value #{value}" }%>
      </h1>
      </section>
  </aside>
</div>
