<% provide(:title, "Hotels") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>

      	<%= @hotels.each do |hotel|
      	@hotels.name %>
      </h1>
      </section>
  </aside>
</div>
