<% provide(:title, "Hotels") %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>

      	We have information about these hotels
      	<%  @hotels.each do |h|  %>
      	<%= h.title %>
      	<br>
      	<% end %>
      </h3>
      </section>
  </aside>
</div>
