<% provide(:title, @hotel.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<%= @hotel.title %>
      </h1>
      	<h2> <% if !@hotel.address.blank? 
      		
      		@hotel.address.each_pair do |key,value| 
      			 %> 
		 This hotels is placed in:
		 <%=  @hotel.address[key] %>
		 <% end end %>
		<h2>
      </section>
  </aside>
</div>