<% provide(:title, @hotel.title) %>
<div class="row">
 
    <section>
      <h1>
      	<%= @hotel.title %>
      </h1>
      	<h2> <% if !@address2.blank?     %>
      		<%=  "Address:" %>

      		<%= @address2  %> 
		 	<%  else %>
		 <%= "We have no address yet for this hotel. You can add it here:" %>
			

			
<%  end %>
		
		<h2>
      </section>
 
</div>